/* http://meyerweb.com/eric/tools/css/reset/ 
 *     v2.0b1 | 201101 
 *         NOTE:WORK IN PROGRESS
 *             USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding: 0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:'';
    content:none;
}
/* remember to define visible focus styles! 
:focus{
     outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}

div.banner {
    width:850px;
    min-height:150px;
    margin-left:2%;
    margin-right:auto;
    padding-top:0px;
    margin-top:0px;
    background-image: url(../img/Banner.png);
}

div.nav {
    width:850px;
    margin-left:2%;
    margin-right:auto;
    padding-bottom:15px;
}

div.content {
    margin-left:2%;
    margin-right:40%;
    font-family: "Myriad Pro", "Trebuchet MS", sans-serif;

}

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
ul.sdt_menu{
    margin:0;
    padding:0;
    list-style:none;
    font-family: "Myriad Pro", "Trebuchet MS", sans-serif;
    font-size: 14px;
    width:1020px;
}

ul.sdt_menu a{
    text-decoration:none;
    outline:none;
}

ul.sdt_menu li{
    float:left;
    width:170px;
    height:85px;
    position:relative;
    cursor:pointer;
}

ul.sdt_menu li > a{
    position:absolute;
    top:0px;
    left:0px;
    width:170px;
    height:85px;
    z-index:12;
    background:transparent url(../img/overlay.png) no-repeat bottom right;
    -moz-box-shadow:0px 0px 2px #000 inset;
    -webkit-box-shadow:0px 0px 2px #000 inset;
    box-shadow: 0px 0px 2px #000 inset;
}

ul.sdt_menu li a img{
    border:none;
    position:absolute;
    width:0px;
    height:0px;
    bottom:0px;
    left:85px;

    z-index:100;
    -moz-box-shadow:0px 0px 4px #000;
    -webkit-box-shadow:0px 0px 4px #000;
    box-shadow:0px 0px 4px #000;
}

ul.sdt_menu li span.sdt_wrap{
    position:absolute;
    top:25px;
    width:170px;
    height:0px;
    left:0px;
    z-index:14;
    -moz-box-shadow:0px 0px 4px #000 inset;
    -webkit-box-shadow:0px 0px 4px #000 inset;
    box-shadow:0px 0px 4px #000 inset;
}

ul.sdt_menu li span.sdt_active{
    position:absolute;
    background:#111;
    top:85px;
    width:170px;
    height:0px;
    left:0px;
    z-index:14;
    -moz-box-shadow:0px 0px 4px #000 inset;
    -webkit-box-shadow:0px 0px 4px #000 inset;
    box-shadow:0px 0px 4px #000 inset;
}

ul.sdt_menu li span span.sdt_link,
ul.sdt_menu li span span.sdt_descr,
ul.sdt_menu li div.sdt_box a{
    margin-left:15px;
    text-transform:uppercase;
    text-shadow:1px 1px 1px #000;
}

ul.sdt_menu li span span.sdt_link{
    color:#fff;
    font-size:24px;
    float:left;
    clear:both;
}

ul.sdt_menu li span span.sdt_descr{
    color:#0B75AF;
    float:left;
    clear:both;
    width:155px;
    font-size:12px;
    letter-spacing:1px;
}

ul.sdt_menu li div.sdt_box{
    display:block;
    position:absolute;
    width:170px;
    overflow:hidden;
    height:170px;
    top:85px;
    left:0px;
    display:none;
    background:#000;
}

ul.sdt_menu li div.sdt_box a{
    float:left;
    clear:both;
    line-height:30px;
    color:#0B75AF;
}

ul.sdt_menu li div.sdt_box a:first-child{
    margin-top:15px;
}

ul.sdt_menu li div.sdt_box a:hover{
    color:#fff;
}
/*------------------------------------*\
    $MAIN
\*------------------------------------*/
/* GO! */
body {
    background: #8493a5 no-repeat;
    background-size: 100%;
    background-image: url(../img/Background_Gradient_2.jpg);
}

.Left {

    min-height:185px;
    margin-bottom:10px;
}

.Left img{
    float:left;
    height:185px;
    border:solid 1px #000;
    margin-right:5px;
}

.BigLeft {
    min-height:250px;
    margin-bottom:10px;
}

.BigLeft img{
    float:left;
    height:250px;
    margin-right:5px;
    border:solid 1px #000;
}

.Right {
    min-height:185px;
    margin-bottom:10px;
}

.Right img{
    float:right;
    height:185px;
    border:solid 1px #000;
    margin-left:5px;
}
